{% extends "spending_tool/layout.html" %}
{% block content %}
	<h2 class="page-header">Add Expenses for Q{{ quarter_number }}</h2>


		
		{{ project.name_project }}{{expense_for_current_quarter}}
		{% for expenses in previous_expensestype %}
		{{ expenses.expenses_type }}
		{% endfor %}
		<br>
		<br>
		<form action="" method="post">{% csrf_token %}


			
			<p>Name: <input id="name" maxlength="254" name="name" type="text" /></p>
			<p>Expected Cost: <input type="number" min="0" max="99999"  name="expected_cost"/></p>
			<p>Cross Charge Actual Cost: <input type="number" min="0" max="99999" name="cross_charge_actual_cost"/></p>
			<p>Direct Charge Actual Cost: <input type="number" min="0" max="99999" name="direct_charge_actual_cost"/></p>
			<p>Department Number (Optional if only direct charge applicable): <input id="name" maxlength="254" name="department_number" type="text" /></p>


			
			<p><input type="submit" value="submit" /></p>
		

		</form>
		
{% endblock %}