{% extends "spending_tool/layout.html" %}
{% block content %}
<div style="margin:50px"class="container">
	<div style="width:100%" class="row centered">
    	<div class="col-md-8 col-md-offset-2">
			<h3 class="page-header">Attach Documents</h3>
			<div>
			<form enctype="multipart/form-data" method="post">{% csrf_token %}
				{{form}}
			<br><br>
				<p><input type="submit" href="/attach_document/" class="btn btn-primary " value="Upload"></p>
			</form>
		</div>
			<hr class="featurette-divider">
			{% for document in documents %}
			<div style="margin-left:50px" >
				<p><b>{{document.file_name}}</b></p>
				<ul>
					<li><i><a href="/media/{{document.document}}">View</a></i></li>
					<li>Date uploaded: {{document.date}}</li>
				</ul>
			</div>


{% endfor %}

 </div>
</div>
</div> 
{% endblock %}