<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="container" style="width:100%">

	<div id="header" style="background-color:#FFA500;">
	<h1 style="margin-bottom:0;">Fellow Engineers Management Tool (FEMT)</h1></div>
	<div id="menu" style="background-color:#FFD700;height:80%;width:15%;float:left;">
	<b>Menu</b><br>
	<a href="/home">Home</a><br>
	<a href="/financial_info">Edit Current Expenses</a><br>
	<a href="/review_info">Review Expenses</a><br>
	<br>
	<p><strong>Descriptions</strong></p>
	<a href="/project_summary/" >Project Summary</a><br>
	<a href="/edit_status/" >Status</a><br>
	<a href="/input_milestones/" >Milestone Schedule</a><br>
	<a href="/project_details/" >Project Details</a><br>
	<br>
	<a href="/admin/" >Admin</a><br>
	<br>
	<br>
	<a href="/logout">Logout</a>

	</div>

	<div id="content" style="background-color:#EEEEEE;height:80%;width:85%;float:left;">
	<form method="post" action="">{% csrf_token %}
		<div id="container">
			<h2>Description: to updated each quarter</h2>
            <h3> Q {{quarter_number}}</h3>
			<h4>Recent Accomplishments</h4>
			<p>
			Highlight any results or findings that will have value to Cisco or the industry
			</p>
			<!--<p>{{form.recent_accomplishments}}</p>-->
			<textarea rows="4" cols="42" name="recent_accomplishments"></textarea>
			   <br> 
			<h4>Current Challenges</h4>
			<p>
			Highlight any results or findings that will have value to Cisco or the industry
			</p>
			<!--<p>{{form.current_challenges}}</p>-->
			<textarea rows="4" cols="42" name="current_challenges"></textarea> 
				<br>
			<h4>Next Steps</h4>
			<p>
			Highlight any of the challenges that are likely to risk to the project
			</p>
			<!--<p>{{form.next_steps}}</p>-->
			<textarea rows="4" cols="42" name="next_steps"></textarea> 
				<br>
			</div>

			<p><input type="submit" class="btn btn-primary btn-large" value="submit" /></p>
		</form>
        <h2>Previous Status</h2>
        {% for status in previous_status %}
        <p><b>Recent Accomplishments - {{status.quarter_number}} / {{status.year}} </b></p>
        <p>{{status.recent_accomplishments}}</p>
        <p><b>Current Challenges - {{status.quarter_number}} / {{status.year}} </b></p>
        <p>{{status.current_challenges}}</p>
        <p><b>Next Steps - {{status.quarter_number}} / {{status.year}} </b></p>
        <p>{{status.next_steps}}</p>
        {% endfor %}
		
	</div>

<script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
<script src="/https://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/dist/js/dropdown.js"></script>
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright © Cisco</div>

</div>

</body>
</html> 