{% extends "spending_tool/layout.html" %}
{% block content %}
<div style="margin:50px"class="container">
	<div style="width:100%" class="row centered">
    	<div class="col-md-8 col-md-offset-2">
	
		<h4 class="page-header">Guidelines</h4>
		<ul> 
			<li><strong><a href="/financial_info/?id={{project.id}}">Edit Current Expenses:</a></strong> This information should be updated at the beginning of each quarter. You can view the expense from the previous, current and future quarter.</li>
			<br>
			<li><strong><a href="/review_info/?id={{project.id}}">Review Expenses:</a></strong> Once expenses have been entered for the current quarter you are able to review them here.</li>
			<br>
			<li><strong><a href="/project_summary/?id={{project.id}}">Project Summary:</a></strong> Enter a description for the Project Overview and the Business Value to Cisco. This is to be entered only once at the start of the project, but can be changed throughout by the admin if the project changes.</li>
			<br>
			<li><strong><a href="/edit_status/?id={{project.id}}">Status:</a></strong> The Project description should be updated quarterly. Each time a status is submitted it will be saved and can be viewed under Previous Statuses.</li>
			<br>
			<li><strong><a href="/input_milestones/?id={{project.id}}">Milestone Schedule:</a></strong> Update the project milestones each quarter with a brief description, due date and the % completion.</li>
			<br>
			<li><strong><a href="/project_details/?id={{project.id}}">Project Details:</a></strong>This infomation should be entered at the start of the project, but can edit throughout if any changes need to be made.</li>
			<br>
			<li><strong><a href="/attach_document/?id={{project.id}}">Attach Documents:</a></strong> In the <i>Documents</i> dropdown list select <i>attach document</i>, so you can upload any funding and project related documents here.</li>
			<br>
			<li><strong><a href="/attach_document/?id={{project.id}}">Create Report:</a></strong> In the <i>Documents</i> dropdown list select <i>create report</i> which will create an excel document of the expenses for the project.</li>
       	</ul>
       	<br></br>
       	<p><i>For the best user experience we recommend using Google Chrome.</i><p>
       	<br></br><br></br>
        
        </div>
	</div>
</div> 

{% endblock %}