{% extends "spending_tool/layout_home.html" %}
{% block content %}

<div style="margin:50px"class="container">


<div class="container">

	<div style="width:100%" class="row centered">
    	<div class="col-md-8 col-md-offset-2">

    		<h3 class="page-header">Funded Projects</h3>
				<h4 style="background-color: #">Active Projects</h4>
					<ul>
	   					{% for project in list_active_projects %}
	   					<br>
	   	 				<li><strong><a href="/financial_info/?id={{project.id}}">{{project.name_project}}</a></strong></li>
	   					{% endfor %}
					</ul>
					<br>
				<h4 style="background-color: #">Completed Projects</h4>
       				<ul>
	   					{% for project in list_completed_projects %}
	   					<br>
	   	 				<li><strong>{{project.name_project}}</strong></li>
						{% endfor %}
	   				</ul>
		
		</div>
	</div>
</div> 

{% endblock %}

