{% extends "spending_tool/layout.html" %}
{% block content %}
	<h2 class="page-header">Tech Fund Tool: Guidelines</h2>	
		<ul>
			<li><strong>Edit Current Expenses:</strong> This information should be updated at the beginning of each quarter. You can view the expense from the previous, current and future quarter.</li>
			<br>
			<li><strong>Review Expenses:</strong> Once expenses have been entered for the current quarter you are able to review them here.</li>
			<br>
			<li><strong>Project Summary:</strong> Enter a description for the Project Overview and the Business Value to Cisco. This is to be entered only once at the start of the project, but can be changed throughout by the admin if the project changes.</li>
			<br>
			<li><strong>Status:</strong> The Project description should be updated quarterly. Each time a status is submitted it will be saved and can be viewed under Previous Statuses.</li>
			<br>
			<li><strong>Milestone Schedule:</strong> Update the project milestones each quarter with a brief description, due date and the % completion.</li>
			<br>
			<li><strong>Project Details:</strong>This infomation should be entered at the start of the project, but can edit throughout if any changes need to be made.</li>
			<br>
			<li><strong>Attach Documents:</strong> Attach project, funding and description documents here.</li>
       </ul>
       <br></br><br></br>
{% endblock %}

