{% extends "spending_tool/layout_home.html" %}
{% block content %}
	<h2 class="page-header">Tech Fund: Funded Projects</h2>	
	<h4 style="background-color: #FFCC66">Active Projects</h4>
	<ul>
	   {% for project in list_active_projects %}
	   <br>
	   
	   	 <li><strong><a href="/financial_info/?id={{project.id}}">{{project.name_project}}</a></strong></li>
	   {% endfor %}
	</ul>
		<br>
    <h4 style="background-color: #82E6CD">Completed Projects</h4>
       <ul>
	   {% for project in list_completed_projects %}
	   <br>
	   	 <li><strong><a href="/financial_info/?id={{project.id}}">{{project.name_project}}</a></strong></li>

	   {% endfor %}
	   </ul>
		<br>
{% endblock %}

