<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="container" style="width:100%">

	<div id="header" style="background-color:#FFA500;">
	<h1 style="margin-bottom:0;">Fellow Engineers Management Tool (FEMT)</h1></div>
	<div id="menu" style="background-color:#FFD700;height:80%;width:15%;float:left;">
	<b>Menu</b><br>
	<a href="/home">Home</a><br>
	<a href="/financial_info">Edit Current Expenses</a><br>
	<a href="/review_info">Review Expenses</a><br>
	<br>
	<p><strong>Descriptions</strong></p>
	<a href="/project_summary/" >Project Summary</a><br>
	<a href="/edit_status/" >Status</a><br>
	<a href="/input_milestones/" >Milestone Schedule</a><br>
	<a href="/project_details/" >Project Details</a><br>
	<br>
	<a href="/admin/" >Admin</a><br>
	<br>
	<br>
	<a href="/logout">Logout</a>

	</div>

	<div id="content" style="background-color:#EEEEEE;height:80%;width:85%;float:left;">
		<form method="post" action="">{% csrf_token %}


			<div id="container">

			<h2>Milestones: {{quarter_number}}</h2>

			<table class="table" class="table-responsive" width="100%">
				<tr>
					<td>Major Milestone Schedule</td><td>Due Date (MM/DD/YYYY)</td><td>% Complete</td>
				</tr>
				{% for milestone in previous_milestones %}
				<tr><td>{{milestone.major_milestone}}</td><td>{{milestone.due_date}}</td><td>{{milestone.percentage_complete}}</td></tr>
				{% endfor %}
				<tr>
					<td><input type="text" name="schedule"></td><td><input type="text" name="date" placeholder="MM/DD/YYYY"></td><td><input size="3" type="number" min="0" max="100"  name="percentage"/></td>
					<!--<td>{{form.major_milestone}}</td><td>{{form.due_date}}</td><td>{{form.percentage_complete}}</td>-->
				</tr>
			</table>

	

			</div>

			<p><input type="submit" href="/milestones/" class="btn btn-primary btn-large" value="submit" /></p>
	

		</form>
	</div>

<script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
<script src="/https://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/dist/js/dropdown.js"></script>
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright © Cisco</div>

</div>

</body>
</html> 