{% extends "spending_tool/layout.html" %}
{% block content %}
					<h2 class="page-header">Milestones: Q{{quarter_number}}</h2>
		<form method="post" action="">{% csrf_token %}

			<div id="container">

								

			<table class="table" class="table-responsive" width="100%">
				<tr>
					<td>Major Milestone Schedule</td><td>Due Date (MM/DD/YYYY)</td><td>% Complete</td>
				</tr>
				<tr>
					<td><input type="text" name="schedule"></td><td><input type="text" name="date" placeholder="MM/DD/YYYY"></td><td><input size="3" type="number" min="0" max="100"  name="percentage"/></td>
					<!--<td>{{form.major_milestone}}</td><td>{{form.due_date}}</td><td>{{form.percentage_complete}}</td>-->
					<td>
						<input type="submit" href="/milestones/" class="btn btn-primary btn-large" value="submit" />
					</td>
				</tr>
				{% for milestone in previous_milestones %}
				<tr><td>{{milestone.major_milestone}} / Q {{milestone.quarter_number}}</td><td>{{milestone.due_date}}</td><td>{{milestone.percentage_complete}}</td></tr>
				{% endfor %}
				
			</table>

	

			</div>

	

		</form>
{% endblock %}