<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/static/dist/css/cisco-css.css" rel="stylesheet">
<link href="/static/dist/css/datepicker.css" rel="stylesheet">

</head>
<body>

		<div class="span12">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid-nav">
      					<a  class="pull-left" style="padding:10px;" href="http://www.cisco.com"><img src="/static/dist/img/cisco-logo.png" width="75px" height="40px"></a>
      					<ul class="nav navbar-nav">
      					<!--<li><a class="navbar-brand" href="#">Project name</a></li> -->
       					<li><a href="/home/">Home</a></li>
       					<li class="dropdown">
       					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Expenses <b class="caret"></b></a>
       					<ul class="dropdown-menu">
           					<li><a href="/financial_info/?id={{project.id}}">Edit Current Expenses</a></li>
            				<li><a href="/review_info/?id={{project.id}}">Review Expenses</a></li>
         				</ul>
        				</li>
        				<li><a href="/project_summary/?id={{project.id}}">Project Summary</a></li>
                <li><a href="/project_details/?id={{project.id}}" >Project Details</a></li>
        				<li><a href="/edit_status/?id={{project.id}}">Status</a></li>
        				<li><a href="/input_milestones/?id={{project.id}}">Milestone Schedule</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documents<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/attach_document/?id={{project.id}}" >Attach Documents</a></li>
                    <li><a href="/create_report/?id={{project.id}}">Create Report</a></li>
                </ul>
                </li>
        				
        				<li><a href="/guidelines/?id={{project.id}}" >Guidelines</a></li>
      					</ul>
					</div>
				</div><!-- /.container-fluid -->
			</nav>
		</div>

<br></br><br></br>



			{% block content %}{% endblock %}





<hr class="featurette-divider">
<script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/dist/js/dropdown.js"></script>
<div id="footer" style="clear:both;text-align:center;">
Copyright © Cisco</div>



</body>
</html> 

