<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/static/dist/css/cisco-css.css" rel="stylesheet">
<link href="/static/dist/css/datepicker.css" rel="stylesheet">

</head>
<body>

		<div class="span12">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid-nav">
      					<a  class="pull-left" style="padding:7px;" href="http://www.cisco.com"><img src="/static/dist/img/cisco-logo.png" style="width: 65px; height:30px"></a>
      					<ul class="nav navbar-nav">
      					<!--<li><a class="navbar-brand" href="#">Project name</a></li> -->
       					<li><a>Tech Fund Finance</a></li>
       				</ul>
					</div>
				</div><!-- /.container-fluid -->
			</nav>
		</div>

<br></br><br></br>



			{% block content %}{% endblock %}





<hr class="featurette-divider">
<script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/dist/js/dropdown.js"></script>
<div id="footer" style="clear:both;text-align:center;">
Copyright © Cisco</div>



</body>
</html> 

