<!DOCTYPE html>
<html lang="en-us" >
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/dist/css/cisco-css.css" rel="stylesheet">
<title>Log in</title>
</head>


<body>
<header>
		<div class="navbar navbar-inverse navbar-fixed-top">
      		<div class="navbar-inner">
        		<div class="container-fluid-nav">
          			<a  class="pull-left" style="padding:10px;" href="http://www.cisco.com"><img src="/static/dist/img/cisco-logo.png" width="75px" height="40px"></a>
        		</div>
      		</div>
		</div>
    </header>
 <br /><br /><br /><br /> 
<!-- Container -->
<center>
<div id="container">
  <br>
<form action="" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    
    <label class="required">Username:</label> <input id="username" maxlength="254" name="username" type="text" />
  </div>
  <div class="form-row">
    
    <label class="required">Password:</label> <input id="password" name="password" type="password" />

  </div>
  <br>
<div>
  <button type="submit">Sign in</button>
</div>
 <br>
 
</form>


</div>
</center>
<!-- END Container -->

</body>
</html>
