{% extends "spending_tool/layout.html" %}
{% block content %}
	<h2 class="page-header">Project Summary</h2>	
		<form method="post" action="">{% csrf_token %}


			<div id="container">


			<h4>Project Overview</h4>
			{% if project.project_overview == None %}
			<p>{{form.project_overview}}</p>
			{% endif %}
			{% if not project.project_overview == None %}
			<p>{{project.project_overview}}</p>
			{% endif %}
				<br>
			<h4>Business Value to Cisco</h4>
			
			{% if project.business_value_to_cisco == None %}
			<p>{{form.business_value_to_cisco}}</p>
			{% endif %}
			{% if not project.business_value_to_cisco == None %}
			<p>{{project.business_value_to_cisco}}</p>
			{% endif %}
				<br>
			
			</div>
			{% if project.business_value_to_cisco == None and project.project_overview == None%}
			<p><input type="submit" href="/milestones/" class="btn btn-primary btn-large" value="submit" /></p>
			{% endif %}

		</form>
	</div>

{% endblock %}

