{% extends "spending_tool/layout.html" %}
{% block content %}


<div style="margin:50px"class="container">


<div class="container">

	<div style="width:100%" class="row centered">
    	<div class="col-md-8 col-md-offset-2">
	
			<h4 class="page-header">
				Project: <strong>{{project.name_project}}</strong>
			</h4>

			<form method="post" action="">{% csrf_token %}
				<div id="container">
					<p><strong>Project Overview: </strong>What is the project about – high level description of project, purpose, objectives:</p>
					<p>{{form.project_overview}}</p>
					<p><strong>Business Value to Cisco: </strong>What is the business value to Cisco from the adoption / implementation of the project results:</p>
					<p>{{form.business_value_to_cisco}}</p>
					<br>
				</div>
				<p><input type="submit" href="/milestones/" class="btn btn-primary btn-medium" value="submit" /></p>
			</form>	

		</div>
	</div>
</div>

{% endblock %}

