<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="container" style="width:100%">

	<div id="header" style="background-color:#FFA500;">
	<h1 style="margin-bottom:0;">Fellow Engineers Management Tool (FEMT)</h1></div>
	<div id="menu" style="background-color:#FFD700;height:80%;width:15%;float:left;">
	<b>Menu</b><br>
	<a href="/home">Home</a><br>
	<a href="/financial_info">Edit Current Expenses</a><br>
	<a href="/review_info">Review Expenses</a><br>
	<br>
	<p><strong>Descriptions</strong></p>
	<a href="/project_summary/" >Project Summary</a><br>
	<a href="/edit_status/" >Status</a><br>
	<a href="/input_milestones/" >Milestone Schedule</a><br>
	<a href="/project_details/" >Project Details</a><br>
	<br>
	<br>
	<br>
	<a href="/logout">Logout</a>

	</div>

	<div id="content" style="background-color:#EEEEEE;height:80%;width:85%;float:left;">
		<form method="post" action="">{% csrf_token %}

			<div id="container">

			<h2>Project Details</h2>

			<table class="table table-striped" class="table-responsive" width="100%">
				<tr>
					<td>Project Start Date</td><td>{{form.start_date}}</td>
				</tr>
				<tr>
					<td>Funding Approved</td><td>{{form.funding_approved}}</td>
				</tr>
				<tr>
					<td>Engineering Mgr</td><td>{{form.engineering_mgr}}</td>
				</tr>
				<tr>
					<td>Target Completion</td><td>{{form.target_completion}}</td>
				<tr>
				<tr>
					<td>Spent (k) As Of</td><td>{{form.spent_qrt}}</td><td>{{form.spent_cost}}
				</tr>
				<tr>
					<td>Executive Sponsor</td><td>{{form.executive_sponsor}}</td>
				</tr>
					<td>IP Generated (patents, papers, standards)</td><td>{{form.ip_generated}}</td>
				</tr>
				<tr>
					<td>Planned Adoptor(s) of Project Results</td><td>{{form.adoptor}}</td>
				</tr>
				<tr>
					<td>Review Committee</td><td>{{form.committee}}</td>
				</tr>
				</tr>
			</table>
			</div>
			<p><input type="submit" href="/milestones/" class="btn btn-primary btn-large" value="submit" /></p>
		</form>
	</div>

<script type="text/javascript" src="/static/dist/js/bootstrap.min.js"></script>
<script src="/https://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/dist/js/dropdown.js"></script>
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright © Cisco</div>

</div>

</body>
</html> 